/*
#Toft-Content-1 img{
    max-width: 920px;
    min-width: 920px;
    max-height: 720px; 
    min-height: 720px;
}

#Toft-Content-2 img{
    max-width: 920px;
    min-width: 920px;
    max-height: 720px; 
    min-height: 720px;
}

#Toft-Content-2{
    width: 100%;
}
*/
#contents-container{
    padding-bottom: 20px;
}

#Toft div{
    max-width: 100%;
    min-width: 100%;
/*    height: 790px;*/
    position: relative; 
    clear: both;
}


.float-left-format{
    padding-right: 9%;
}

.float-right-format{
    padding-left: 8%;
}

.text-location-right{
    text-align: left;
    padding-left: 4%;
    padding-bottom: 1px;
}

.text-location-left{
    text-align: left;
    padding-right: 10%;
    padding-left: 4%;
    padding-bottom: 1px;
}

.row-splitter{
    height: 1px;
    background-color: lightgray;
}

.section-splitter{
    height: 2.5px;
    background-color: lightgray;
}

/*
.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background: orange;
}*/

.read-button{
    background-color: rgb(243, 101, 38); /*Orange*/
    border: none;
    border-radius: 15%;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 7px;
}
